<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rent?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">111111</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="myapp.model.entity.Engine"/>
        <mapping class="myapp.model.entity.Type"/>
        <mapping class="myapp.model.entity.Model"/>
        <mapping class="myapp.model.entity.Car"/>
        <mapping class="myapp.model.entity.Customer"/>
        <mapping class="myapp.model.entity.Role"/>
        <mapping class="myapp.model.entity.Status"/>
        <mapping class="myapp.model.entity.Rent"/>
    </session-factory>

</hibernate-configuration>